<h3>Post Form</h3>

<%= form_for(@post) do |f|%>
  <%# The |f| is an iterator variable that we can use on the new form object that will allow us to 
  dynamically assign form field elements to each of the post data attributes 
  & auto fill the values for each field. %>

  <label>Post Title:</label><br>
  <%= f.text_field :title %><br>


  <label>Post Description:</label><br>
  <%= f.text_area :description %><br>


  
  <%= f.submit %>
<% end %>